<nav class="sidebar sidebar-offcanvas" id="sidebar">
  <div class="text-center sidebar-brand-wrapper d-flex align-items-center">
    <a class="sidebar-brand brand-logo" href="/admin"><img src="/adminAssets/images/logo.svg" alt="logo" /></a>
    <a class="sidebar-brand brand-logo-mini pl-4 pt-3" href="/admin"><img src="/adminAssets/images/logo-mini.svg" alt="logo" /></a>
  </div>
  <ul class="nav">
    <li class="nav-item nav-profile">
      <a href="#" class="nav-link">
        <div class="nav-profile-image">
          <img src="/adminAssets/images/faces/face21.jpg" alt="profile" />
          <span class="login-status online"></span>
          <!--change to offline or busy as needed-->
        </div>
        <div class="nav-profile-text d-flex flex-column pr-3">
          <span class="font-weight-medium mb-2">Admin</span>
          <!-- <span class="font-weight-normal">$8,753.00</span> -->
        </div>
        <span class="badge badge-danger text-white ml-3 rounded">3</span>
      </a>
    </li>
    <!-- <li class="nav-item">
      <a class="nav-link" href="dashboard.ejs">
        <i class="mdi mdi-home menu-icon"></i>
        <span class="menu-title">Dashboard</span>
      </a>
    </li> -->
    <li class="nav-item">
      <a class="nav-link" href="/orders">
        <i class="mdi mdi-chart-bar menu-icon"></i>
        <span class="menu-title">Orders</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/customers">
        <i class="mdi mdi-contacts menu-icon"></i>
        <span class="menu-title">Customers</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/products">
        <i class="mdi mdi-format-list-bulleted menu-icon"></i>
        <span class="menu-title">Products</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
        <i class="mdi mdi-format-list-bulleted menu-icon"></i>
        <span class="menu-title">Categories</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="ui-basic">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item">
            <a class="nav-link" href="/categories">Main Category</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/sub_categories">Sub Categories</a>
          </li>
        </ul>
      </div>
    </li>
    <li class="nav-item sidebar-actions">
      <div class="nav-link">
        <div class="mt-4">
          <form class="mt-4 pl-0" action="/admin_logout" id="logoutLink" method="post">
            <a style="font-size: large;" onclick="document.getElementById('logoutLink').submit()" >Sign out</a>
          </form>
          <!-- <ul class="mt-4 pl-0">
            <li>Sign Out</li>
          </ul> -->
        </div>
      </div>
    </li>
  </ul>
</nav>