
    <%-include('userNavbar')%>

    <style>
        body {
    background-color: #f2f2f2;
    color: #333;
    margin: 0;
    font-family: 'Nunito Sans', sans-serif;
}
    .signup-container {
    display: flex;
    max-width: 1000px;
    margin:  auto;
    padding-top: 100px;
    padding-bottom: 100px;
    border-radius: 20px;
}

.signup-form {
    flex: 1;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    margin-right: 20px;
}

.signup-form h2 {
    color: #333;
    text-align: center;
    margin-bottom: 20px;
}

.input-group {
    display: flex;
    margin-bottom: 15px;
}

.input-group input {
    flex: 1;
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.checkbox-container {
    display: block;
    margin-bottom: 15px;
}

.checkbox-container input {
    margin-right: 5px;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 15px;
    width: 15px;
    background-color: #eee;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.signup-btn {
    background-color: #e74c3c;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

.signup-btn:hover {
    background-color: #c0392b;
}

.profile-section {
    flex: 1;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.profile-image {
    text-align: center;
}

.profile-image img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
}

.upload-btn-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
}

.btn {
    border: 2px solid gray;
    color: gray;
    background-color: white;
    padding: 8px 20px;
    border-radius: 8px;
    font-size: 15px;
    font-weight: bold;
}

.upload-btn-wrapper input[type=file] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
}

@media only screen and (max-width: 768px) {
    /* Mobile Styles */
    .signup-container {
        flex-direction: column;
        align-items: center;
    }

    .signup-form {
        margin-right: 0;
        margin-bottom: 20px;
    }

    .profile-section {
        flex: 1;
        padding: 20px;
        margin-top: 20px;
    }
}

@media only screen and (max-width: 576px) {
    .signup-form {
        padding: 15px;
    }
    
    .header__menu {
        display: none;
    }
    
    .canvas__open {
        display: block;
    }

    .header__top__links,
    .header__top__hover,
    .offcanvas__nav__option {
        display: none;
    }
}
    </style>
    <!-- signup container begins -->
    <div class="signup-container">
        <div class="signup-form">
            <h2>Create an Account</h2>
            <form action="/user_signup" method="post">
                <div class="input-group">
                    <input type="text" placeholder="First Name" name="first_name" required>
                    <input type="text" placeholder="Last Name" name="last_name" required>
                </div>
                <!-- <div class="input-group">
                    <input type="text" placeholder="Profile Image URL" name="profile_img">
                </div> -->
                <div class="input-group">
                    <input type="password" placeholder="Password" name="password" required>
                    <input type="password" placeholder="Confirm Password" name="confirm_password" required>
                </div>
                <div class="err_msg my-3">
                    <% if(flash.invalidCreds) { %>
                    <h6 style="color: #e74c3c;"><%=flash.invalidCreds%></h6>
                    <% } %>
                </div>
                <button type="submit" class="signup-btn">SIGN UP</button>
            </form>
        </div>
    </div>
    <!-- signup container ends -->

    <%-include('userFooter')%>

    <!-- Search Begin -->
    <div class="search-model">
        <div class="h-100 d-flex align-items-center justify-content-center">
            <div class="search-close-switch">+</div>
            <form class="search-model-form">
                <input type="text" id="search-input" placeholder="Search here.....">
            </form>
        </div>
    </div>
    <!-- Search End -->

    <!-- Js Plugins -->
    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.nice-select.min.js"></script>
    <script src="js/jquery.nicescroll.min.js"></script>
    <script src="js/jquery.magnific-popup.min.js"></script>
    <script src="js/jquery.countdown.min.js"></script>
    <script src="js/jquery.slicknav.js"></script>
    <script src="js/mixitup.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/main.js"></script>
</body>

</html>